{% extends "basegeneric.html" %}

<!--PAGINA ADOPTA-->
{% block content %}

<div class="adoptar">
    <h1>Adopciones</h1>
    <!--AUTENTICACION USUARIOS-->
            {% if user.is_authenticated  %}{% if user.is_staff %}

            <div class="botoncito1">
                <a href="{% url 'gatitos' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</a>
            </div>
            
            {% else %}{% endif %}{% else %}{% endif %}
    <!--FOR QUE MUESTRA LOS GATITOS-->
    {% for i in gatos %}
        <div class="contiene">
            <div class="col-md">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="tarjeta">
                            <!--AUTENTICACION BOTONES-->
                                {% if user.is_authenticated  %}{% if user.is_staff %}

                                    <div class="botoncito2">
                                        <a href="{% url 'gatitos_update' pk=i.id %}" class="btn btn-primary"><i class="fas fa-pen"></i> Modificar</a>
                                    </div>
                                    <div class="botoncito3">
                                        <a href="{% url 'gatitos_delete' pk=i.id %}" class="btn btn-primary"><i class="far fa-trash-alt"></i> Eliminar</a>
                                    </div>
                                {% else %}{% endif %}{% else %}{% endif %}
                            <div class="img"><img class="imagendecard" src="{{ i.imagen.url }}" alt="Gatito" > </div>
                            <div class="titulos">
                                <div class="nom"><p class="card-title">{{ i.nombre }}</p></div>
                                <div class="botoncito">
                                  <a href="{% url 'padres' %}" class="btn btn-primary"><i class="far fa-heart"></i> Adoptame</a>
                                </div>
                            </div>
                            <div class="caracteristicas">
                                <div class="edad">Edad : {{ i.edad }}</div>
                                <div class="sexo">Sexo : {{ i.sexo }}</div>
                                <div class="carac"><p class="card-text">{{ i.carac }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

