{% extends "basegeneric.html" %}
{% block content %}
<div class="donacion">
    <div class="dona" id="dona">
      
      {% load static %}
      <div class="quien_img" ><img class="todas" src="{% static 'Imagenes/gatitochico.gif' %}"></div>
      <div class="quien_titu"><h2>Donaciones</h2></div>
      <div class="quien_des">Cuenta BancoEstado : 20142111-k
            <br>Nombre : Fundacion Michis
            <br>Correo: FundacionMichis@gmail.com
            <br>Cuenta Banco Falabella
            <br>Tipo de Cuenta : Cuenta Vista
      </div>
    </div>
</div>
{% endblock %}