{% extends "basegeneric.html" %}
{% block content %}

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        {% load static %}
        <img class="d-block w-100" src="{% static 'Imagenes/patitas.jpg' %}" data-src="holder.js/900x400?theme=social" alt="900x400" data-holder-rendered="true" style="width: 900px; height: 400px;">
      </div>
      <div class="carousel-item">
        {% load static %}
        <img class="d-block w-100" src="{% static 'Imagenes/elpepecloid.jpg' %}" data-src="holder.js/900x400?theme=social" alt="900x400" data-holder-rendered="true" style="width: 900px; height: 400px;">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="botones">
  <div class="boton" id="adoptar">
    <a href="{% url 'adopta' %}"><i class="fas fa-paw"></i> Quiero Adoptar</a>
  </div>
  <div class="boton" id="socio">
    <a href="{% url 'socio'  %}"><i class="far fa-handshake"></i> Quiero ser socio</a>
  </div>
  <div class="boton" id="donar">
    <a href="{% url 'donar' %}"><i class="far fa-money-bill-alt"></i> Quiero donar</a>
  </div>
  <div class="boton" id="voluntario">
    <a href="{% url 'voluntario'  %}"><i class="far fa-smile-wink"></i> Quiero ser voluntario</a>
  </div>
</div>

<div class="info">
  <div class="quien" id="quien">
    
    {% load static %}
    <div class="quien_img" ><img class="todas" src="{% static 'Imagenes/persona.jpeg' %}"></div>
    <div class="quien_titu"><h2>¿Quienes Somos?</h2></div>
    <div class="quien_des">Corporación encargada del rescate de gatitos de compañía que se encuentran en condición de abandono y con condiciones sanitarias deficientes. Brindandoles un nuevo hogar.</div>
  </div>
  <div class="donar_info" id="donar_info">
    
    {% load static %}
    <div class="donar_img" ><img class="todas" src="{% static 'Imagenes/miau.jpeg' %}"></div>
    <div class="donar_titu"><h2>¿Que hacemos?</h2></div>
    <div class="donar_des">
      Todo refugio debe ser solo un lugar de paso. Nuestros gatitos -y todos los gatitos- merecen una vida de amor y cuidados. Aunque siempre le pondremos todo el esfuerzo y corazón para que nuestros pequeños estén bien en el refugio, nuestro principal desafío con cada gatito rescatado es que encuentre una familia que le dé una nueva oportunidad de ser feliz </div>
  </div>
  <div class="volun" id="volun">
    
    {% load static %}
    <div class="vol_img" ><img class="todas" src="{% static 'Imagenes/Esponjigato.gif' %}"></div>
    <div class="vol_titu"><h2>¿Como ayudar?</h2></div>
    <div class="vol_des">¡Hay muchas maneras de ayudar y todas son bienvenidas! Puedes ser parte de nuestros voluntarios, un socio, o donar todo tu cariño y amor para poder crecer y ayudar a mas gatitos.</div>
  </div>
</div>
{% endblock %}


