{% extends "basegeneric.html" %}
{% block content %}
<div class="donacion">
  <div class="dona" id="dona">
    
    {% load static %}
    <div class="quien_img1" ><img class="todas" src="{% static 'Imagenes/gif2.gif' %}"></div>
    <div class="infor">
        <div class="quien_titu"><h2>Socios</h2></div>
        <div class="quien_des">Te gustaria estar asociado a Fundacion Michis?
              <br>Ser Socio consta de Donar dinero mensualmente a nuestra fundacion, pero mas que eso donaras vida.
              <br>Con un solo aporte puedes darle alimento, agua, cuidados de su salud, un hogar calido, todo lo que un gatito necesita.  
              <br>¿Como ser parte?
              <br>Simple! Solo nos envias un correo (FundacionMichis@gmail.com), y nosotros nos contactaremos contigo!.
        </div>
    </div>
  </div>
</div>
{% endblock %}