{% extends "basegeneric.html" %}
{% block content %}
    <div class="formulario">
        <form>
            {% if cate == 0 %}
            <h2>Quiero ser Socio</h2>
            {% elif cate == 1 %}
            <h2>Quiero ser Voluntario</h2>
            {% endif %}
              <div class="">
                <label for="disabledTextInput">Ingrese Rut</label>
                <input type="text" id="" class="" placeholder="12345678-9">
              </div>
              <div class="">
                <label for="disabledTextInput">Ingrese Nombre</label>
                <input type="text" id="" class="" placeholder="Michi Fus">
              </div>
              <div class="">
                <label for="disabledTextInput">Ingrese Contraseña</label>
                <input type="password" id="" class="" placeholder="Clave">
              </div>
              <div class="">
                <label for="disabledTextInput">Numero de contacto</label>
                <input type="text" id="" class="" placeholder="+569123456789">
              </div>
              <div class="">
                <label for="disabledTextInput">Correo</label>
                <input type="text" id="" class="" placeholder="Michi@gmail.com">
              </div>
              {% if cate == 0 %}
                <div class="">
                  <label for="disabledTextInput">Categoria</label>
                  <input type="text" id="" class="" placeholder="" value="Socio" disabled>
                </div>
              {% elif cate == 1 %}
                <div class="">
                  <label for="disabledTextInput">Categoria</label>
                  <input type="text" id="" class="" placeholder="" value="Voluntario" disabled>
                </div>
              {% endif %}
              <button type="submit" class="btn btn-primary">Submit</button>

          </form>
    </div>
{% endblock %}