{% extends "basegeneric.html" %}
{% block content %}

<div class="donacion1">
  <div class="dona" id="dona">
    
    {% load static %}
    <div class="quien_img1" ><img class="todas" src="{% static 'Imagenes/gif1.gif' %}"></div>
    <div class="infor">
        <div class="quien_titu"><h2>Voluntariado</h2></div>
        <div class="quien_des">fundacion michis necesita tu ayuda!!.
              <br>Para cuidar a tantas preciosuras, necesitamos ayudantes 24/7, que les den alimento, amor, cariño y cuidados basicos.
              <br>En nuestro hogar para gatitos, hay varios de ellos que requieren contacto humano, para poder adaptarse bien a sus familias adoptivas.
              <br>Muchos de ellos vienen de la calle, ayudanos a darles una nueva vida.
              <br>Te gustaria ser parte de ellos?. 
              <br>Solo tienes que llamarnos al +56990894654, darnos tus datos y los dias en que puedes venir y listo. Seras parte de esta linda organizacion.
        </div>
    </div>
  </div>
</div>
{% endblock %}