*{
    margin:0; 
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


/*header*/
header
{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    background: #c9bbcb;
}
.logo
{
    width: 80%;
    height: 100%;
}

#logotipo
{
    font-family: 'Anton', sans-serif;
    color:  #A5678E;
}
.menu_XD
{
    list-style: none;
}
.opciones
{
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
}   
.opciones a
{
    text-decoration: none;
    font-family: 'Bree Serif', serif; 
    font-size: 20px; 
    color: #A5678E;
}   
.opciones a:hover
{
    background: #323b58;
    height: 40px;
    width: 100%;
    color: white;
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
}  

/*ADOPCIONES*/
.botoncito1
{
    display: inline-block;
    width: 49%;
}
.adoptar h1
{
    display: inline-block;
    width: 49%;
    color: #A5678E;
    font-family: 'Anton', sans-serif;
}
.botoncito2, .botoncito3
{
    display: inline-block;
    width: 49%;
}

/*LOGIN*/
.todo
{
    height: 575px;
}
.label
{
    padding-top: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
.boton1
{
    padding-top: 20px;
}
#id_username, #id_password, #id_rut, #id_nom, #id_fono, #id_correo, #id_dire, #id_idgatos,
#id_id,#id_nombre,#id_edad,#id_carac,#id_sexo,#id_imagen,#id_estado
{
    width: 80%;
    height: 50px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
.oculto
{
    display: none;
}

/*Section*/
section
{
    width: 100%;
    height: auto;
    background: #E5C1CD;
    text-align: center;
}
.separador
{
    height: 100px;
    width: 100%;
}
.botones
{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.boton
{
    width: 60%;
    height: 150px;
    margin: 20px;
    display: inline-block;
    border-radius: 10%;
}
.boton a
{
    margin-top: 40px;
    width: 100%;
    height: 50%;
    display: inline-block;
    padding: 20px;
    font-size: 150%;
    text-decoration: none;
    color:white;
}
#adoptar
{
    background: #A5678E;
}
#socio
{
    background: #BFB8DA;
}
#donar
{
    background: #7facd6;
}
#voluntario
{
    background: #33539e;
}
#adoptar:hover
{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
#socio:hover
{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
#donar:hover
{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
#voluntario:hover
{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
/* INFORMACION */
.info
{
    height: auto;
    width: 100%;
}
.quien, .donar_info, .volun
{
    margin-top: 30px;
}
.todas
{
    border: #E5C1CD solid 10px;
}
.quien_titu, .donar_titu, .vol_titu
{
    display: inline-block;
    width: 100%;
    text-align: justify;
    height: 60px;
    padding-top:10px ;
    font-family: 'Anton', sans-serif; 
    color: #A5678E;
}
.quien_des, .donar_des, .vol_des
{
    display: inline-block;
    width: 100%;
    text-align: justify;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

/*footer*/
footer
{
    width: 100%;
    height: auto;
    background: #323b58;
    vertical-align: bottom;
    z-index: 1;
}
.izquierdita
{ 
    text-align: center;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.izquierdita div
{ 
    width: 100%; 
    height: 33%;
}

.derechita
{ 
    text-align: center;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.derechita div
{ 
    width: 100%;
    height: 100%;
}
.izquierdita a
{ 
    color:white;
    font-size: 90%;
}
.derechita p
{ 
    color:white;
    font-size: 90%;
}
/* estilo adopta */
.contiene
{
    width: 100%;
    height: auto;
    margin-top: 30px;   
}
.tarjeta
{
 
    width: 100%;
    height: auto;
    text-align: center;
}
.img
{
    height: 300px;
    width: 80%;
    display: inline-block;
    margin: 20px;
}
img
{
    height: 300px;
    width: 100%;
}
.nom
{
    display: inline-block;
    width: 40%;
    text-align: justify;
    
}
.botoncito
{
    display: inline-block;
    width: 50%;
}
.caracteristicas
{

    height: auto;
    width: 100%;
}
.edad
{
    height: 50px;
    width: 40%;
    display: inline-block;
    text-align: justify;
    
}
.sexo
{
    height: 50px;
    width: 50%;
    display: inline-block;
}
.carac
{
    width: 91.5%;
    height: auto;
    display: inline-block;
    text-align: justify;
    
}
.quien_titu
{
    text-align: center;   
}
.quien_des
{
    text-align: center;
}
.donacion
{
    height: 580px;

}
@media(min-width:600px) and (max-width:1000px) 
{
    /*Estilos tablet adopta*/
    .contiene
    {
        width:100%;
        display: inline-block;
    }
    /*ELIMINAR*/
    .img_eliminar
    {
        width: 50%;
    }

    /*LOGIN*/
    .todo
    {
        height: 575px;
    }
    #id_username, #id_password, #id_rut, #id_nom, #id_fono, #id_correo, #id_dire, #id_idgatos,
    #id_id,#id_nombre,#id_edad,#id_carac,#id_sexo,#id_imagen,#id_estado
    {
        width: 60%;
    }

    /*Estilos info*/
    .quien
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
        float: left;
    }
    .donar_info
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
    }
    .volun
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
        float: right;
    }
    /*DONACIONES*/
    .donacion
    {
        display: inline-block;
    }
    .quien_img1
    {
        display: inline-block;
    }

}
@media(min-width:900px) and (max-width:1000px)
{
    /* estilo menu tablet/pc */
    .separador
    {
        height: 130px;
    }
    
    .menu_XD
    {
        display: inline-block;
        width: 105%;
        height: 100px;
    }
    .opciones
    {
        width: 15%;
        height: auto; 
        display: inline-block;
    }
    .opciones a:hover
    {
        height: auto;
        width: 100%;
    }  
    
}
@media(min-width:1000px) and (max-width:1440px) 
{
    /*MENU PC*/
    .separador
    {
        height: 200px;
    }
    .menu_XD
    {
        display: inline-block;
        width: 120%;
        height: 100px;

    }
    .opciones
    {
        width: 15%;
        height: auto; 
        display: inline-block;
    }
    .opciones a:hover
    {
        height: auto;
        width: 170%;
    }  
    /*ELIMINAR*/
    
    .img_eliminar
    {
        width: 50%;
    }
    /*LOGIN TABLET*/
    .todo
    {
        height: 470px;
    }
    #id_username, #id_password, #id_rut, #id_nom, #id_fono, #id_correo, #id_dire, #id_idgatos,
    #id_id,#id_nombre,#id_edad,#id_carac,#id_sexo,#id_imagen,#id_estado
    {
        width: 60%; 
    }


    /*Sectiontablet*/
    .botones
    {
        width: 90%;
        display: inline-block;
    }
    .boton
    {
        width: 40%;
        height: 200px;
        
    }
    .boton a
    {
        margin-top: 48px;
        
    }
    /* estilo info PC*/
    .quien
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
        float: left;
    }
    .donar_info
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
    }
    .volun
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
        float: right;
    }
    /*DONACIONES*/
    .donacion
    {
        display: inline-block;
        width: 100%;
        padding-top: 100px;
        height: 620px;
    }
    .quien_img1
    {
        width: 49%;
        display: inline-block;
    }
    .infor
    {
        width: 49%;
        display: inline-block;
    }


    /*Footer tablet*/
    .derechita
    { 
        display: inline-block;
        width: 50%;
        height: 100%;

    }

    .izquierdita
    { 
        display: inline-block;
        width: 49%;
        height: 100%;

    }
    /*Estilos tablet adopta*/
    .contiene
    {
        width: 33%;
        display: inline-block;
    }
    .img
    {
        width: 90%;
    }
    
}
@media(min-width:1440px) 
{
    /*MENU PC*/
    .separador
    {
        height: 200px;
    }
    .menu_XD
    {
        display: inline-block;
        width: 120%;
        height: 100px;

    }
    .opciones
    {
        width: 15%;
        height: auto; 
        display: inline-block;
    }
    .opciones a:hover
    {
        height: auto;
        width: 170%;
    }  
    /*ELIMINAR*/
    
    .img_eliminar
    {
        width: 50%;
        height: 500px;
    }
    /*LOGIN PC*/
    .todo
    {
        height: 470px;
    }
    #id_username, #id_password, #id_rut, #id_nom, #id_fono, #id_correo, #id_dire, #id_idgatos,
    #id_id,#id_nombre,#id_edad,#id_carac,#id_sexo,#id_imagen,#id_estado
    {
        width: 50%;
    }


    /*SectionPC*/
    .botones
    {
        width: 100%;
        display: inline-block;
    }
    .boton
    {
        width: 20%;
        height: 200px;
        
    }
    .boton a
    {
        margin-top: 50px;
    }
    /* estilo info PC*/
    .info
    {
        margin-top: 100px;
    }
    .quien
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
        float: left;
    }
    .donar_info
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
    }
    .volun
    {
        display: inline-block;
        width: 32%;
        height: 90%;
        position: relative;
        margin: 0;
        float: right;
    }

    /*DONACIONES*/
    .donacion
    {
        display: inline-block;
        width: 100%;
        padding-top: 100px;
        height: 800px;
    }
    .quien_img1
    {
        width: 49%;
        display: inline-block;
        margin-bottom: 100px;
    }
    .infor
    {
        width: 49%;
        display: inline-block;
    }

    /*FooterPC*/
    .derechita
    { 
        display: inline-block;
        width: 50%;
        height: 150;

    }

    .izquierdita
    { 
        display: inline-block;
        width: 49%;
        height: 100%;

    }
    /* adopta pc */
    .contiene
    {
        width: 49%;
        display: inline-block;
    }
    .img
    {
        height: 650px;
    }
    img
    {
        height: 650px;
    }
}

