*{
    margin:0; 
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

/*header*/
header
{
    width: 100%;
    height: 150px;
}
.navbar
{
    background: red;
}

/*Section*/
section
{
    width: 100%;
    height: 1500px;
}

/*footer*/
footer
{
    width: 100%;
    height: 200px;
    background: blue;
    vertical-align: bottom;
}
.izquierdita
{ 
    text-align: center;
    width: 100%;
    padding: 10px;

}

.izquierdita div
{ 
    margin-top: 12px;  
}

.derechita
{ 
    text-align: center;
    width: 100%;
    padding: 10px;
}

.izquierdita a
{ 
    color:white;
}
.derechita p
{ 
    color: white;
}


@media(min-width:1000px) 
{

}
.derechita
{ 
    display: inline-block;
    width: 50%;
    height: 100%;

}

.izquierdita
{ 
    display: inline-block;
    width: 49%;
    height: 100%;

}