{% extends 'basegeneric.html' %}

<!--LOGIN-->
{% block content %}

<div class="todo">
<div class="login-page">
  <div class="form">
    <form method="POST" >
      {% csrf_token %}

      <div>
          {% if form.errors %}
          <p>Usuario y/o clave incorrecto. Inténtalo de nuevo.</p>
          {% endif %}
        <div class="label">
          <td > <label class="label"> Usuario : </label> </td>
        </div>
        <p></p>
        <div class="caja">
          <td>{{ form.username }}</td>
        </div>
      </div>
      <div>
        <div class="label">
          <td > <label class="label"> Clave : </label> </td>
        </div>
        <p></p>
        <div class="caja">
          <td>{{ form.password }}</td>
        </div>
      </div>

      <div class="boton1">
        <button class="btn btn-primary btn-xl" type="submit" value="login" > Inicio Sesion </button>
      </div>

    </form>
  </div>
</div>
</div>

{% endblock %}